<div id="<%= dom_id processed_product %>">
  <p>
    <strong>Name of products:</strong>
    <%= processed_product.name_of_products_id %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= processed_product.product_type_id %>
  </p>

</div>
