<p style="color: green"><%= notice %></p>

<h1>Name of products</h1>

<div id="name_of_products">
  <% @name_of_products.each do |name_of_product| %>
    <%= render name_of_product %>
    <p>
      <%= link_to "Show this name of product", name_of_product %>
    </p>
  <% end %>
</div>

<%= link_to "New name of product", new_name_of_product_path %>
